* {
	font-size: 18px;
	background: black;
	color: white;
	padding: 0px;
	margin: 0px;
	text-decoration: none;
}

#presentation {
	text-align: center;
	margin-left: 360px;
	padding-top: 50px;
	position: absolute;
}

.info_page {
	margin-top: 50px;
	margin-left: 520px;
	background: yellow;
	border: 1px yellow solid;
	border-radius: 90px;
	position: absolute;
	width: 350px;
	height: 550px;
}

#close-info-pg {
	color: black;
	background: yellow;
	margin-left: 140px;
	margin-top: 50px;
}

.nav {
	width: 99%;
	position: absolute;
	display: flex;
	justify-content: space-around;
	padding: 7px;
}

.content {
	left: 0px;
	padding: 50px;
}

.content p {
	font-size: 25px;
}